.link{
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: contents;
    font-size: small;
}

.countryContainer{
    border: none;
    border-radius: 4%;
    margin: 1em;
    width: 16%;
    border: solid 1px #fafafa70;
    background-color: rgba(255, 255, 255, 0.198);
    margin-left: 125px;
    
    
}
.countryContainer:hover{
    background-color: rgba(105, 105, 105, 0.267);
}
.imgContainer img{
    width: 150px;
    height: 100px;
    
    border-radius: 4%;
}

.butn{
    display: inline-block;
    padding:0.35em 1.2em ;
    border:0.1em solid #838383;
    margin:0 0.3em 0.3em 0;
    border-radius:1em;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    text-align:center;
    transition: all 0.2s;
    font-size: larger;
    }
    
    .butn:hover{
        color: #000000;
        background-color: #8a8a8a;
        }
    
