body{
   background-image: url("C:\Users\Pedro\Desktop\PI FUNCIONALIDADES\PI-Countries\PI-Countries\client\src\img\landing.jpg");
   background-size: 100%;


}

.land{
   font-size: 90px;
   color: white;
}
.link{
   text-decoration: none;
   color: rgb(255, 255, 255);
}
.button{
   border-radius: 50px;
   height: 50px;
   background-color: rgb(231, 35, 0);
   shape-outside: none;

   
}

.button:hover{
   background-color: rgba(230, 169, 77, 0);
   transition: 300ms;
}

.link:hover{
   text-decoration: none;
   color: rgb(255, 255, 255);
   color: rgb(255, 255, 255);

}